
/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
border-left:5px solid green;
	padding:10px;
}
#heading{
	font-size:20px !important;
 color:white !important;
	text-decoration:underline;
}